/**
 * Reset
 */
* {
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
}

pre { background: #ddd; padding: 15px; margin-bottom: 15px; overflow: scroll; max-width: 100%;}

/**
 * Body
 */
body {
  margin: 0; padding: 0;
  font-size: 15px;
  line-height: 20px;
  font-family: helvetica, arial, sans-serif;
}

h1 {
  margin: 18px 0 10px 0;
  font-size: 22px;
}

/**
 * Container
 */
.container {
  margin: 0 auto; /* gecentreerd */
  max-width: 960px;
  padding: 0 10px;
}

/**
 * Message
 */
.message {
  display: block;
  padding: 15px;
  margin: 15px 0 15px 0;
  background: #eee;
  color: #000;
}

.message strong {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
}

.message.message-error {
  background: red;
  color: #fff;
}

.message.message-success {
  background: #048b7b;
  color: #fff;
}

.message.message-success a,
.message.message-error a {
  color: #fff;
}

/**
 * Header
 */
header {
  background: linear-gradient(-45deg,#3c609e,#01a08c);
  color: #fff;
  margin-bottom: 15px;
  padding: 30px 30px 0px 30px;
}

header a {
  color: #fff;
}

header .site-header {
  display: flex;
  justify-content: space-between;
}

header .site-title {
  font-size: 18px;
  font-weight: bold;
  justify-content: left;
}

header .site-login {
  justify-content: right;
}

header nav {
  display: flex;
  justify-content: center;
  padding: 15px 0 15px 0;
}

header nav ul {
  list-style: none;
  font-size: 15px;
  text-transform: uppercase;
}

header > nav > ul {
  position: relative;
}

header > nav > ul > li {
  display: inline-block;
}

header > nav > ul > li:hover > ul {
  display: block;
}

header nav ul li a,
header nav ul li a:visited {
  color: #fff;
  text-decoration: none;
  padding: 4px 8px;
  opacity: .8;
}

header nav ul li a:hover {
  opacity: 1;
}

header nav > ul > li > ul {
  position: absolute;
  display: none;

  background: #3c609e;
  padding: 15px;

  top: 20px;
}

/**
 * Footer
 */
footer {
  margin-top: 15px;
  background: #EEE;
  min-height: 150px;
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #666;
}

/**
 * Form
 */
.form-group {
  display: block;
  margin-bottom: 10px;
}

.form-group-inline {
  display: inline-block;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

input, textarea {
  display: block;
  padding: 8px 11px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.error {
  border-color: red;
  background: #fff2f2;
}

input[type="number"] {
  max-width: 40px;
}

button, .button {
  background: #049e8c;
  border: 2px solid #048b7b;
  padding: 8px 11px;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  text-decoration: none;
}

button:hover, .button:hover {
  cursor: pointer;
}

/**
 * Grid
 */
.flex-grid {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;
  flex-direction: row;
}

.col {
  flex: 1 25%;
  margin: 0 30px 30px 0;
}

.col:nth-child(3n) {
  margin-right: 0;
}

/**
 * Products
 */
.product-item {
  display: block;
  box-shadow: 0 10px 15px rgba(0,0,0,.1);
  padding: 30px;
  text-align: center;
  position: relative;
}

.product-item img {
  max-width: 100%;
}

.product-item .price {
  display: block;
  color: #666;
}

.product-item:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.product-item a {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

/**
 * Cart
 */
.cart {
  width: 100%;
  text-align: left;
  margin: 20px 0;
  background: #eee;
  padding: 15px;
}

.cart img {
  max-width: 80px;
  border: 2px solid #ddd;
  border-radius: 5px;
}

.cart .total {
  text-align: right;
}

/**
 * Article
 */
article {
  line-height: 24px;
}

article .alignright, article .alignleft {
  max-width: 300px;
}

article .alignright {
  float: right;
  margin: 0 0 15px 15px;
}

article .alignleft {
  float: left;
  margin: 0 15px 0 15px;
}

article p {
  margin-bottom: 20px;
}

article h1 {
  font-size: 26px;
}

article h2 {
  font-size: 22px;
  font-weight: normal;
}

article h3 {
  font-size: 18px;
}

article h1, article h2, article h3 {
  margin: 20px 0 10px 0;
}

article iframe {
  width: 100%;
  height: 300px;
}

.clearfix {
  clear: both;
}

/* Responsive */
@media only screen and (max-width : 768px) {
}

@media only screen and (max-width : 480px) {
  header .site-title {
    display: flex;
    justify-content: center;
  }
}
